@import '../variables.css';

.contact{
    text-align: center;
    padding: var(--padding-g) var(--padding-p);
}

.contact__title{
    font-size: var(--font-m);
}

.contact__paragraph{
    margin: var(--margin-p) 0;
}

.contact__button{
    padding: var(--padding-p) var(--padding-m);
    font-size: var(--font-p);
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}
