.solution {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  padding: var(--padding-g) var(--padding-p);
}

.solution__card {
  text-align: center;
}

.solution__card-image {
    width: 100%;
    height: auto;
    display: block;
}

.solution__card-info-title {
  margin: var(--margin-p) 0;
  font-size: var(--font-m);
  color: #2E2E2E;
}

.solution__card-info-paragraph {
  color: #808080;
}

.solution__card-info-button {
    width: 100%;
    padding: var(--padding-p);
    border: none;
    border-radius: 10px;
    font-size: var(--font-p);
    background-color: var(--primary-color);
    color: #fff;
    margin-top: var(--margin-p);
}

@media (min-width: 720px) {
  .solution {
    padding: var(--padding-g) var(--padding-m);
    gap: var(--gap-3);
  }

  .solution__card {
    display: flex;
    align-items: center;
    text-align: end;
    gap: var(--gap-1);
    height: 45vh;
  }

  .solution__card:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: start;
    
  }
  
  .solution__card-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .solution__card-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .solution__card-info-title{
    font-size: var(--font-p);
    margin-top: 0;
  }

  .solution__card-info-button{
    width: 35%;
  }
}

@media (min-width: 1200px){
    .solution__card{
        height: 50vh;
    }
    
    .solution__card-info-title{
        font-size: var(--font-g);
        margin-top: 0;
    }

    .solution__card-info-button{
        width: 20%;
    }
}