@import 'components/header.css';
@import 'components/about.css';
@import 'components/highlights.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

