:root{
    --font-g: 3.8rem;
    --font-m: 2.5rem;
    --font-p: 1.1rem;

    --margin-g: 6rem;
    --margin-m: 4rem;
    --margin-p: 1rem;

    --padding-5: 5rem;
    --padding-3: 3rem;

    --gap-m: 4rem;
}