:root{
    --primary-color: #F84646;

    --font-g: 3.8rem;
    --font-m: 2.5rem;
    --font-p: 1.1rem;
    --font-pp: 0.8rem;

    --margin-g: 6rem;
    --margin-5: 5rem;
    --margin-m: 4rem;
    --margin-p: 1rem;

    --padding-5: 5rem;
    --padding-3: 3rem;
    --padding-1: 1rem;

    --gap-m: 4rem;
    --gap-p: 3rem;
    --gap-2: 2rem;
    --gap-1: 1rem;
}